
.topic {
    border: 1px solid gray;
    padding: 0.25em;
}

.post {
    border: 1px solid gray;
}

.post header {
    border: 1px solid gray;
}

table, th, td {
    border: 1px solid gray;
}

table {
    width: 100%;
    border-collapse: collapse;
}