{% extends 'base.html' %}

{% block content %}
<form action="{{url_for('topic.add', board_id=board_id)}}" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="hidden" name="board_id" id="board_id" value="{{board_id}}">
    <p>
        <label for="title">Otsikko:</label>
        <input type="text" name="title">
    </p>
    <p>
        <label for="content">Viesti:</label>
        <textarea type="text" id="content" name="content"></textarea>
    </p>
    <input type="submit" value="Lähetä">
</form>
{% endblock %}