<!DOCTYPE html>
<html lang="fi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tsoha-forum</title>
</head>

<body>
    <header>
        <h1>Tsoha-forum</h1>
    </header>
    <nav>
        <a href="{{url_for('show_index')}}">Etusivu</a>
        {% if g.user %}
        <a href="{{url_for('show_users')}}">Käyttäjät</a>
        <a href="{{url_for('show_user', user_id=g.user.id)}}">{{g.user.username}}</a>
        <a href="{{url_for('log_out')}}">Kirjaudu ulos</a>
        {% else %}
        <a href="{{url_for('log_in')}}">Kirjaudu sisään</a>
        <a href="{{url_for('register')}}">Rekisteröidy</a>
        {% endif %}
    </nav>
    <br>
    <main>{% block content %}{% endblock %}</main>
    <br>
    <footer>
        <hr>
    </footer>

</body>

</html>