<!DOCTYPE html>
<html lang="fi">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tsoha-forum</title>
</head>

<body>
    <header>
        <h1>Tsoha-forum</h1>
    </header>
    <nav>
        <a href="{{url_for('index.show')}}">Etusivu</a>
        <a href="{{url_for('user.show_all')}}">Käyttäjät</a>
        {% if g.user and g.user.is_admin %}
        <a href="{{url_for('group.show_all')}}">Ryhmät</a>
        {% endif %}
        {% if g.user %}
        <a href="{{url_for('user.show', user_id=g.user.id)}}">{{g.user.username}}</a>
        <a href="{{url_for('session.log_out')}}">Kirjaudu ulos</a>
        {% else %}
        <a href="{{url_for('session.log_in')}}">Kirjaudu sisään</a>
        <a href="{{url_for('user.register')}}">Rekisteröidy</a>
        {% endif %}
    </nav>
    <br>
    <main>{% block content %}{% endblock %}</main>
    <br>
    <footer>
    </footer>

</body>

</html>