{% extends 'base.html' %}

{% block content %}
<h2>{{board.title}}</h2>
<table>
    <thead>
        <tr>
        <tr>
            <th scope="col">Aihe</th>
            <th scope="col">Viestejä</th>
            <th scope="col">Uusin</th>
        </tr>
        </tr>
    </thead>
    <tbody>
        {% for topic in topics %}
        <tr>

            <td>
                <a href="{{url_for('topic.show', topic_id=topic.id)}}">
                    <b>{{topic.title}}</b>
                    <a>
            </td>
            <td>{{topic.post_count}}</td>
            <td>
                {% if topic.latest_post_at %}
                {{topic.latest_post_at.strftime('%d.%m.%Y')}}
                <br>
                {{topic.latest_post_at.strftime('%H:%M')}}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<hr>
<a href="{{url_for('topic.add', board_id=board.id)}}"><b>Luo uusi aihe</b></a>
{% endblock %}