{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{url_for('index.show')}}">Etusivu</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{board.title}}</li>
    </ol>
</nav>
<header>
    <h1>{{board.title}}</h1>
    <p class="lead">{{board.description}}</p>
</header>
<h2>Aiheet</h2>
<div class="container">
    {% for topic in topics %}
    <section class="row">
        <header class="col">
            <a href="{{url_for('topic.show', topic_id=topic.id)}}">
                <h3 class="h5">{{topic.title}}</h3>
            </a>
        </header>
        <dl class="col row">
            <div class="col">
                <dt>Viestejä</dt>
                <dd>{{topic.post_count}}</dd>
            </div>
            <div class="col">
                <dt>Uusin viesti</dt>
                <dd>
                    {% if topic.latest_post_at %}
                    {{topic.latest_post_at.strftime('%d.%m.%Y, %H.%M')}}
                    {% else %}
                    Ei viestejä
                    {% endif %}
                </dd>
            </div>
        </dl>
    </section>
    {% endfor %}
    <nav aria-label="Aiheiden selaus" class="my-3">
        {% set page = request.args.get("page") | int %}
        <ul class="pagination">
            {% if not page or page == 1 %}
            <li class="page-item disabled"><a class="page-link">Edellinen</a></li>
            {% else %}
            <li class="page-item"><a class="page-link"
                    href="{{url_for('board.show', board_id=board.id, page=page-1)}}">Edellinen</a></li>
            {% endif %}
            {% for num in page_numbers %}
            {% if num == page or (not page and num==1) %}
            <li class="page-item active">
                <span class="page-link">{{num}}</span>
            </li>
            {% else %}
            <li class="page-item"><a class="page-link"
                    href="{{url_for('board.show', board_id=board.id, page=num)}}">{{num}}</a></li>
            {% endif %}
            {% endfor %}
            {% if page == page_numbers[-1] or page_numbers[-1] == 1 %}
            <li class="page-item disabled"><a class="page-link">Seuraava</a></li>
            {% else %}
            <li class="page-item"><a class="page-link"
                    href="{{url_for('board.show', board_id=board.id, page=page+1)}}">Seuraava</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% if g.user %}
<div>
    <a href="{{url_for('topic.add', board_id=board.id)}}">Lisää uusi aihe</a>
</div>
{% endif %}
{% endblock %}