{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{url_for('index.show')}}">Etusivu</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{board.title}}</li>
    </ol>
</nav>
<header>
    <h1>{{board.title}}</h1>
    <p class="lead">{{board.description}}</p>
</header>
<h2>Aiheet</h2>
<div class="container">
    {% for topic in topics %}
    <section class="row">
        <header class="col">
            <a href="{{url_for('topic.show', topic_id=topic.id)}}">
                <h3 class="h5">{{topic.title}}</h3>
            </a>
        </header>
        <dl class="col row">
            <div class="col">
                <dt>Viestejä</dt>
                <dd>{{topic.post_count}}</dd>
            </div>
            <div class="col">
                <dt>Uusin viesti</dt>
                <dd>
                    {% if topic.latest_post_at %}
                    {{topic.latest_post_at.strftime('%d.%m.%Y, %H.%M')}}
                    {% else %}
                    Ei viestejä
                    {% endif %}
                </dd>
            </div>
        </dl>
    </section>
    {% endfor %}
</div>
{% if g.user %}
<div>
    <a href="{{url_for('topic.add', board_id=board.id)}}">Lisää uusi aihe</a>
</div>
{% endif %}
{% endblock %}