{% extends 'base.html' %}

{% block content %}
<article>
    <h1 class="my-5">Muokkaa aiheen otsikkoa</h1>
    <form action="{{url_for('topic.edit', topic_id=topic.id)}}" method="post">
        <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
        <div class="mb-3">
            <label for="title" class="form-label">Muokattu otsikko</label>
            <input type="text" id="title" name="title" value="{{topic.title}}" class="form-control" , minlength="5"
                maxlength="100">
        </div>
        <div class="mb-3">
            <input type="submit" value="Lähetä" class="btn btn-primary">
        </div>
    </form>
</article>
{% endblock %}