{% extends 'base.html' %}

{% block content %}
<h1>Alueet</h1>
<div class="container">
    {% for board in boards %}
    <section class="row">
        <header class="col">
            <a href="{{url_for('board.show', board_id=board.id)}}">
                <h2 class="h5">{{board.title}}</h2>
            </a>
            <p class="lead">{{board.description}}</p>
        </header>
        <dl class="col row">
            <div class="col">
                <dt>Aiheita</dt>
                <dd>{{board.topic_count}}</dd>
            </div>
            <div class="col">
                <dt>Viestejä</dt>
                <dd>{{board.post_count}}</dd>
            </div>
            <div class="col">
                <dt>Uusin viesti</dt>
                <dd>
                    {% if board.latest_post_at %}
                    {{board.latest_post_at.strftime('%d.%m.%Y, %H.%M')}}
                    {% else %}
                    Ei viestejä
                    {% endif %}
                </dd>
            </div>
        </dl>
    </section>
    {% endfor %}
</div>
{% if g.user and g.user.is_admin %}
<div>
    <a href="{{url_for('board.show_all')}}">Muokkaa alueita</a>
</div>
{% endif %}
{% endblock %}