{% extends 'base.html' %}

{% block content %}
<h2>Alueet</h2>
<table>
    <thead>
        <tr>
        <tr>
            <th scope="col">Alue</th>
            <th scope="col">Aiheita</th>
            <th scope="col">Viestejä</th>
            <th scope="col">Uusin</th>
        </tr>
        </tr>
    </thead>
    <tbody>
        {% for board in boards %}
        <tr>

            <td>
                <a href="{{url_for('show_board', board_id=board.id)}}">
                    <b>{{board.title}}</b>
                    <a>
                        <p>{{board.description}}</p>
            </td>
            <td>{{board.topic_count}}</td>
            <td>{{board.post_count}}</td>

            <td>
                {% if board.latest_post_at %}
                {{board.latest_post_at.strftime('%d.%m.%Y')}}
                <br>
                {{board.latest_post_at.strftime('%H:%M')}}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<hr>
{% if is_admin %}
<a href="{{url_for('show_boards')}}">Muokkaa alueita</a>
{% endif %}
{% endblock %}