{% extends 'base.html' %}

{% block content %}
<h1 class="my-5">Kirjaudu sisään</h1>
<form action="{{url_for('session.log_in')}}" method="post">
    <div class="mb-3">
        <label for="username" class="form-label">Käyttäjätunnus</label>
        <input type="text" id="username" name="username" class="form-control">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Salasana</label>
        <input type="password" id="password" name="password" class="form-control">
    </div>
    <input type="submit" value="Kirjaudu sisään" class="btn btn-primary">
</form>
{% endblock %}