{% extends 'base.html' %}

{% block content %}

<h1>Luo käyttäjätunnus</h1>

<form action="{{url_for('user.register')}}" method="post">
    <div class="mb-3">
        <label for="username" class="form-label">Käyttäjätunnus:</label>
        <input type="text" id="username" name="username" class="form-control" minlength="2" maxlength="30">
    </div>
    <div class="mb-3">
        <label for="password1" class="form-label">Salasana:</label>
        <input type="password" id="password1" name="password1" class="form-control" minlength="10">
    </div>
    <div class="mb-3">
        <label for="password2" class="form-label">Salasana uudestaan:</label>
        <input type="password" id="password2" name="password2" class="form-control" , minlength="10">
    </div>
    <input type="submit" value="Luo tunnus" class="btn btn-primary">
</form>
{% endblock %}