{% extends 'base.html' %}

{% block content %}
<h1 class="my-5">Poista alue </h1>
<dl>
    <dt>Alueen nimi</dt>
    <dd>{{board.title}}</dd>
    <dt>Alueen kuvaus</dt>
    <dd>{{board.description}}</dd>
</dl>
<form action="{{url_for('board.remove', board_id=board.id)}}" method="post">
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
    <div class="mb-3">
        <label for="password" class="form-label">Salasanavahvistus</label>
        <input type="password" id="password" name="password" class="form-control">
    </div>
    <input type="submit" value="Poista" class="btn btn-danger">
</form>
{% endblock %}