{% extends 'base.html' %}

{% block content %}
<a href="/board/{{topic.board_id}}"><b>{{topic.board_title}}</b></a> >>
<h2>{{topic.title}}</h2>
{% for post in posts %}
<h3>{{post.title}}</h3>
<p>{{post.content}}</p>
<hr>
{% endfor %}

<form action="/topic/{{topic.id}}" method="post">
    <input type="hidden" name="topic_id" id="topic_id" value="{{topic_id}}">
    <p>
        <label for="content">Viesti:</label>
        <input type="text" name="content">
    </p>
    <input type="submit" value="Lähetä">
</form>
{% endblock %}