{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{url_for('index.show')}}">Etusivu</a></li>
        <li class="breadcrumb-item"><a
                href="{{url_for('board.show', board_id=topic.board_id)}}">{{topic.board_title}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{topic.title}}</li>
    </ol>
</nav>
<header class="my-5">
    <h1 class="mb-0">{{topic.title}}</h1>
    {% if g.user and (g.user.id == topic.user_id or g.user.is_admin) %}
    <a href="{{url_for('topic.edit',topic_id=topic.id)}}">Muokkaa otsikkoa</a>
    <a href="{{url_for('topic.remove',topic_id=topic.id)}}">Poista ketju</a>
    {% endif %}
</header>

{% for post in posts %}
<article class="container border p-0 mb-3" id="n{{post.id}}">
    <header class="m-0 bg-dark text-light">
        <dl class="d-flex flex-row p-1 border-bottom">
            <div class="px-1">
                <dt>Linkki</dt>
                <dd><a href="{{url_for('post.show', post_id=post.id)}}" class="link-light">#{{post.id}}</a>
                </dd>
            </div>
            <div class="px-3">
                <dt>Lähettänyt</dt>
                <dd>{{post.username}}</dd>
            </div>
            <div class="px-3">
                <dt>Lähetetty</dt>
                <dd>{{post.created_at.strftime('%d.%m.%Y, %H.%M')}}</dd>
            </div>
            {% if post.edited_at %}
            <div class="px-3">
                <dt>Muokattu</dt>
                <dd>{{post.edited_at.strftime('%d.%m.%Y, %H.%M')}}</dd>
            </div>
            {% endif %}
        </dl>
    </header>
    <p class="px-3 py-4">
        {{post.content | make_safe_html}}
    </p>
    {% if g.user and (g.user.is_admin or g.user.id == post.user_id) %}
    <footer class="d-flex flex-row justify-content-between border-top align-items-baseline">
        <div class="px-3 py-2 m-0">
            <a href="{{url_for('post.edit', post_id = post.id)}}">Muokkaa viestiä</a>
        </div>
        <div class="px-3 py-2 m-0">
            <form action="{{url_for('post.remove', post_id=post.id)}}" method="post">
                <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
                <div class="m-0">
                    <input type="submit" value="Poista viesti" class="btn btn-danger my-1">
                </div>
            </form>
        </div>
    </footer>
    {% endif %}
</article>
{% endfor %}
<nav aria-label="Viestisivujen selaus">
    {% set page = request.args.get("page") | int %}
    <ul class="pagination">
        {% if not page or page == 1 %}
        <li class="page-item disabled"><a class="page-link">Edellinen</a></li>
        {% else %}
        <li class="page-item"><a class="page-link"
                href="{{url_for('topic.show', topic_id=topic.id, page=page-1)}}">Edellinen</a></li>
        {% endif %}
        {% for num in page_numbers %}
        {% if num == page or (not page and num==1) %}
        <li class="page-item active">
            <span class="page-link">{{num}}</span>
        </li>
        {% else %}
        <li class="page-item"><a class="page-link"
                href="{{url_for('topic.show', topic_id=topic.id, page=num)}}">{{num}}</a></li>
        {% endif %}
        {% endfor %}
        {% if page == page_numbers[-1] or page_numbers[-1] == 1 %}
        <li class="page-item disabled"><a class="page-link">Seuraava</a></li>
        {% else %}
        <li class="page-item"><a class="page-link"
                href="{{url_for('topic.show', topic_id=topic.id, page=page+1)}}">Seuraava</a></li>
        {% endif %}
    </ul>
</nav>
{% if session.user_id %}
<h2>Lisää uusi viesti</h2>
<form action="{{url_for('topic.show', topic_id=topic.id)}}" method="post">
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
    <input type="hidden" name="topic_id" id="topic_id" value="{{topic_id}}">
    <div class="mb-3">
        <label for="content" class="form-label">Viesti</label>
        <textarea type="text" id="content" name="content" class="form-control" rows="10" minlength="5"
            maxlength="10000"></textarea>
    </div>
    <input type="submit" value="Lähetä" class="btn btn-primary">
</form>
{% endif %}
{% endblock %}