{% extends 'base.html' %}

{% block content %}

<a href="{{url_for('board.show', board_id=topic.board_id)}}"><b>{{topic.board_title}}</b></a> >>
<section class="topic">
    <h1>{{topic.title}}</h1>
    {% if g.user and (g.user.id == topic.user_id or g.user.is_admin) %}
    <a href="{{url_for('topic.edit',topic_id=topic.id)}}">Muokkaa otsikkoa</a>
    <a href="{{url_for('topic.remove',topic_id=topic.id)}}">Poista ketju</a>
    {% endif %}
    {% for post in posts %}
</section>
<article class="post">
    <header>
        <b>{{post.username}}</b>
        {{post.created_at.strftime('%d.%m.%Y %H:%M')}}
        {% if post.edited_at %}
        (Muokattu: {{ post.edited_at.strftime('%d.%m.%Y %H:%M') }})
        {% endif %}
    </header>
    <p>{{post.content | make_safe_html }} </p>
    {% if g.user and (g.user.id == post.user_id or g.user.is_admin) %}
    <a href="{{url_for('post.edit', post_id = post.id)}}">Muokkaa viestiä</a>
    <form action="{{url_for('post.remove', post_id=post.id)}}" method="post">
        <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
        <p>
            <input type="submit" value="Poista viesti">
        </p>
    </form>
    {% endif %}
</article>
{% endfor %}
{% if session.user_id %}
<h2>Lisää uusi viesti</h2>
<form action="{{url_for('topic.show', topic_id=topic.id)}}" method="post">
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
    <input type="hidden" name="topic_id" id="topic_id" value="{{topic_id}}">
    <div class="mb-3">
        <label for="content" class="form-label">Viesti</label>
        <textarea type="text" id="content" name="content" class="form-control" rows="10"></textarea>
    </div>
    <input type="submit" value="Lähetä" class="btn btn-primary">
</form>
{% endif %}
{% endblock %}