{% extends 'base.html' %}

{% block content %}
<h2>Käyttäjä {{user.username}}</h2>
{% for group in groups %}
{% endfor %}

{% if g.user and (g.user.id == user.id or g.user.is_admin) %}
{% if groups %}
<section>
    <h3>Käyttäjän ryhmät</h3>
    <ul>
        {% for group in groups %}
        <li>
            <b>{{group.title}}: </b>
            {{group.description}}
            {% if g.user and g.user.is_admin %}
            <form action="{{url_for('membership.remove',group_id=group.id, user_id=user.id)}}" method="post">
                <div>
                    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
                    <input type="submit" value="Poista ryhmästä" class="btn btn-primary">
                </div>
            </form>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</section>
{% endif %}
{% endif %}
{% if g.user and g.user.is_admin %}
{% if joinable_groups %}
<section>
    <h3>Muut ryhmät</h3>
    <ul>
        <li>
            {% for group in joinable_groups %}
            <b>{{group.title}}: </b>{{group.description}}
            <form action="{{url_for('membership.add',group_id=group.id, user_id=user.id)}}" method="post">
                <div>
                    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
                    <input type="submit" value="Liitä ryhmään" class="btn btn-primary">
                </div>
            </form>
            {% endfor %}
        </li>
    </ul>
</section>
{% endif %}
{% endif %}
{% endblock %}